---
import {getEntry} from "astro:content";
import Layout from "../layouts/Layout.astro";
import {Image} from 'astro:assets';
const locale = Astro.currentLocale ?? 'pl';
const entry = await getEntry('error', 'error');
const data = entry.data[locale]
---
<style lang="scss">
  body {
    overflow: hidden;
  }

  .wrapper {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .hero-img {
    height: auto;
    width: 100%;
    object-fit: contain;
    max-width: 554px;
  }
</style>
<Layout>
    <div class="wrapper">
        <h1>{data.description}</h1>
        <Image src={data.image} alt="Obrazek błędu" class="hero-img"/>
    </div>



</Layout>
