---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import heroImg from "../assets/Na_Główna_.png"
---
<style lang="scss">
	body{
		overflow: hidden;
	}
	.wrapper{
		width: 100%;
		display: grid;
		place-items: center;
	}
	.hero-img{
		height: auto;
		width: 100%;
		object-fit: contain;
	}
</style>
<Layout>
	<div class="wrapper">

	<Image src={heroImg} alt="Portert Hani" class="hero-img"/>
	</div>
</Layout>