---
import Layout from "../layouts/Layout.astro";
import { getEntry} from 'astro:content';
import {Image} from 'astro:assets';
const deployToNetlify = import.meta.env.DEPLOY_TO_NETLIFY
const locale = Astro.currentLocale ?? 'pl';
const entry = await getEntry('homepage', 'homepage');
const data = entry.data[locale]
---
<style lang="scss">
  body {
    overflow: hidden;
  }

  .wrapper {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .hero-img {
    height: auto;
    width: 100%;
    object-fit: contain;
    max-width: 554px;
  }
</style>
<Layout>
    <div class="wrapper">
        <Image src={data.image} alt="Portert Hani" class="hero-img"/>
    </div>

  {deployToNetlify && <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
    </script>}
</Layout>
