
---
import DOMPurify from "isomorphic-dompurify";
import Layout from "../layouts/Layout.astro";
import {getEntry} from "astro:content";
import {marked} from "marked";


const locale = Astro.currentLocale ?? 'pl';
const entry = await getEntry('contact', 'contact');
const data = entry.data[locale]

const renderHTMLFromMarkdown = (markdownText) =>
  DOMPurify.sanitize(marked.parse(markdownText));
---
<style is:global>
    h2{
        font-weight: 800;
        font-size: var(--text-size-xl);
        color: var(--color-blue);
    }
</style>
<Layout>
    <h1>{data.title}</h1>
    <section class="text-wrapper">
        <Fragment set:html={renderHTMLFromMarkdown(data.description ?? "")} />
    </section>
</Layout>