---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import heroImg from "../assets/Na_Główna_.png"
---
<style lang="scss">
    .wrapper{
        height: 100vh;
        display: grid;
        place-items: center;
        width: 100%;
    }
    .hero-img{
        height: auto;
        width: 100%;
        object-fit: contain;
    }

    .card{
        border: 3px dotted orange ;
        display: flex;
        flex-direction: column;
        color: #000;
        text-decoration: none;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        gap: 32px;
        align-items: start;

    }
</style>
<Layout>

    <h1>Portfolio</h1>

    <div class="wrapper">
    <a href="/portfolio/obrazek-1" class="card">
        <h2 >Obrazek 1</h2>
        <Image  src={heroImg} alt="Portert Hani" class="hero-img" transition:name="obrazek-1"/>
    </a>
    <a href="/portfolio/obrazek-2" class="card">
        <h2 >Obrazek 2</h2>
        <Image  src={heroImg} alt="Portert Hani" class="hero-img" transition:name="obrazek-2"/>
    </a>
    <a href="/portfolio/obrazek-3" class="card">
        <h2 >Obrazek 3</h2>
        <Image src={heroImg} alt="Portert Hani" class="hero-img" transition:name="obrazek-3"/>
    </a>
    </div>

</Layout>